<!DOCTYPE html>
<html lang="en">
<head>
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Mass calculator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="total">
        <div class="card">
            <div class="cardTitle">
                <h2>Molecular mass calculator</h2>
            </div>
            <div class="cardBody">
                <form id="formulaForm" autocomplete="off">
                    <input type="text" id="formulaInput" placeholder="Insert formula"><br><br>
                    <button type="submit" class="button">Calculate!</button>
                </form><br>
                <h2 id="massResult"></h2>
            </div>
        </div>
    </div>
</body>
</html>